<div>
    <div class="header">
        <h1>Address Book</h1>
    </div>
    <div class="navbar">
        <ul>
            <li><a>HOME</a></li>
            <li #showDialogButton><a>+ADD</a></li>
            <li class="logo"><a><img src="assets\blog-icon.png"></a></li>
        </ul>
    </div>
    <div class="contact-details">
        <div id="container-1" class="container">
            <h3>CONTACTS</h3>

            <ol id="contactDetails">
                <li *ngFor="let item of contactList" 
                    [ngClass]="{'active': item === activeItem}">
                    <p class="capitalize largefont">{{ item?.name }}</p>
                    <p>{{ item?.email }}</p>
                    <p>{{ item?.telephone }}</p>
                </li>
            </ol>

        </div>
        <div class="containeritems">
            <div id="itemDetails" class="itemDetails">
                <div #selectedDetails *ngIf="isOptionsVisible">
                    <div class="edit-deleteopts">
                        <div>
                            <p class="detailsname">{{selectedItem?.name}}</p>
                            <p>Email:{{selectedItem?.email}}</p>
                            <p class="mobilefield">Mobile:{{selectedItem?.telephone}}</p>
                            <p class="landlinefield">Landline:{{selectedItem?.landline}}</p>
                            <p>Website:{{selectedItem?.webaddress}}</p>
                            <p>Address:{{selectedItem?.address}}</p>
                        </div>
                        <div class="icons">
                            <div class="edit-icon">
                                <div>
                                    <img class="edit-image" src="assets\edit1.jpg">
                                </div>
                                <div>
                                    <button class="editbtn" (click)="editcontact(selectedItem)" >EDIT</button>
                                </div>
                            </div>
                            <div class="delete-icon">
                                <div>
                                    <img class="delete-image" src="assets\delete2.png">
                                </div>
                                <div>
                                    <button (click)="deleteItem()"  class="deletebtn">DELETE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>